{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'evaporacion/css/style.css' %}">
    <title>Imagen con Número</title>
</head>
<body>
    <div class="image-container">
        <img src="{% static 'images/EVAPORACIONPAR.png' %}" alt="Imagen">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="number" name="TINGRESO" id="TINGRESO" class="number-input6" placeholder="T° INGRESO" step="any">
            <input type="number" name="TEGRESO" id="TEGRESO" class="number-input6" placeholder="T° SALIDA" step="any">
            <input type="number" name="PRESIONINGRESO" id="PRESIONINGRESO" class="number-input6" placeholder="PRESION INGRESO" step="any">
            <input type="number" name="PRESIONSALIDA" id="PRESIONSALIDA" class="number-input6" placeholder="PRESION SALIDA" step="any">
            <input type="number" name="PRESIONIC701" id="PRESIONIC701" class="number-input7" placeholder="PRESION SALIDA IC701 (bar)" step="any">
            <input type="number" name="CONDENSADO" id="CONDENSADO" class="number-input3" placeholder="CONDENSADO" step="any">

            <input type="text" name="OBS" id="OBS" class="number-input5" placeholder="Observaciones" step="any">
            <button type="button" class="exit-button" onclick="window.location.href='{% url 'home' %}'">Salir</button>
            <button type="submit" class="save-button">Guardar</button>
        </form>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector("form");
            var numericInputs = form.querySelectorAll("input[type=number]");
            var currentHour = new Date().getHours();
            var fieldsToDisable = ["PRESIONIC701", "PRESIONSALIDA", "PRESIONINGRESO"];
            var horaExcepcion = 2
            // Deshabilitar campos si la hora es igual a 15
            if (currentHour === horaExcepcion) {
                for (var i = 0; i < fieldsToDisable.length; i++) {
                    var fieldName = fieldsToDisable[i];
                    var input = form.querySelector("input[name=" + fieldName + "]");
                    if (input) {
                        input.disabled = true;
                        input.style.backgroundColor = "#CCCCCC"; // Cambiar el color de fondo a gris
                    }
                }
            }
    
            form.addEventListener("submit", function (event) {
                // Verificar campos numericos obligatorios
                for (var i = 0; i < numericInputs.length; i++) {
                    var input = numericInputs[i];
                    // Verificar si el campo no está deshabilitado y está vacío
                    if (currentHour === horaExcepcion) {
                        if (!input.value.trim() && fieldsToDisable.indexOf(input.name) === -1) {
                            event.preventDefault();
                            alert("Complete todos los campos numéricos antes de guardar.");
                            return;
                        }
                    } else {
                        if (!input.value.trim()) {
                            event.preventDefault();
                            alert("Por favor, complete todos los campos numéricos antes de guardar.");
                            return;
                        }
                    }
                }
            });
    
            // Manejar el evento de cierre de ventana
            function confirmExit(event) {
                var formInputs = form.querySelectorAll("input[type=number]");
                var allFieldsComplete = true;
    
                // Verificar campos numericos obligatorios
                for (var i = 0; i < formInputs.length; i++) {
                    var input = formInputs[i];
                    if (!input.value.trim() && fieldsToDisable.indexOf(input.name) === -1) {
                        allFieldsComplete = false;
                        break;
                    }
                }
    
                // Mostrar mensaje de confirmación si no todos los campos obligatorios están completos
                if (!allFieldsComplete) {
                    var confirmation = confirm("¿Estás seguro de que deseas salir? Los cambios no guardados se perderán.");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                }
            }
    
            // Agregar el evento de cierre de ventana
            window.addEventListener("beforeunload", confirmExit);
        });
    </script>

</body>
</html>
{% endblock %}

