{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Falla</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Registrar Falla</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.parcela_sector.label_tag }}
                {{ form.parcela_sector }}
            </div>
            <div class="form-group">
                {{ form.falla.label_tag }}
                {{ form.falla }}
            </div>
            <div class="form-group">
                {{ form.posible_causa.label_tag }}
                {{ form.posible_causa }}
            </div>
            <div class="form-group">
                {{ form.posible_solucion.label_tag }}
                {{ form.posible_solucion }}
            </div>
            <div class="form-group">
                {{ form.imagen.label_tag }}
                {{ form.imagen }}
            </div>
            <button type="submit" class="btn btn-primary">Cargar Falla</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Descartar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}