{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de carga de datos</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }

        img {
            margin-top: 20px;
            max-width: 100%;
            height: auto;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Centro de carga de datos</h1>
    <img src="{% static 'images/logo.PNG' %}" alt="Logo">
    {% if not user.is_authenticated %}
        <ul>
            <li><a href="{% url 'signin' %}">Iniciar Sesión</a></li>
        </ul>
    {% endif %}
</body>
</html>
{% endblock %}
