<!DOCTYPE html>
<html>
<head>
    <title>Mi Vista Protegida</title>
    <!-- Incluye aquí los enlaces a tus hojas de estilo, scripts, etc. -->
</head>
<body>
    <h1>Bienvenido a Mi Vista Protegida</h1>
    <p>Hola, {{ user.username }}! Has accedido a una vista que requiere autenticación.</p>

    
    <p>Esta es una página protegida. Solo los usuarios autenticados pueden verla.</p>


    <p><a href="{% url 'home' %}">Ir a la página principal</a></p>
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>

   
</body>
</html>
